.home{
    background:linear-gradient(rgba(0, 157, 255, 0.51),rgba(255, 0, 0, 0.214)), url(./images/1677644965730.jpg);
    background-size:cover;
    height:100vh ;
}
*{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.688);
    margin-bottom: 30px;
}
.links a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 0px 15px;
    font-weight: 1000;

}
.links a:hover{
    color: orange;
    text-decoration: overline;
}
.searchcity{
    display: flex;
    justify-content: center;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.searchcity input{
    height: 40px;
    width: 500px;
    /* outline: none; */
}
.searchcity button{
    font-size: 20px;
    padding:0px 20px ;
    border:5px ;
    background-color: white;
    color: black ;
}
.weatherinfo{
    background-color: white;
    width:500px ;
    text-align:center ;
    border-radius: 10px;
    justify-content: center;
    /* margin-left: 44%; */
    opacity: 0.5;
  
}
.weatherinfo h1{
    font-size: 64px;
    padding: 60px 0px;
   
    
}